{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.go"],
      "options": {
        "svelteBracketNewLine": true
      }
    }
  ]
}
